<%= render "template/header"%>

<div class="col-lg-9">

  <div class="card mt-4">
    <%= image_tag("Aluguel-de-carro.png")%>
    <div class="card-body">
      <h3 class="card-title" style="align-text:center"><%= image_tag("liber_capital.png", size: "90x80", :style => 'padding-right: 10px', alt: "Liber Capital")%>
        Telefones
      </h3>
      <hr>                 
    </div>
  </div>

  <table>
    <thead>
      <tr>
        <th><%=I18n.t('phones.id')%></th>    
        <th><%=I18n.t('phones.number')%></th>    
        <th><%=I18n.t('phones.ddd')%></th>    
        <th><%=I18n.t('phones.kind')%></th>    
        <th><%=I18n.t('phones.preferential')%></th>    
        <th><%=I18n.t('phones.person')%></th>      
      </tr>
    </thead>

    <tbody>
      <%@phones.each do |phone|%>
        <tr>
          <td><%=phone.id%></td>                   
          <td><%=phone.number%></td>                   
          <td><%=phone.ddd%></td>                   
          <td><%=phone.kind%></td>                   
          <td><%=phone.preferential%></td>                   
          <td><%="#{phone.person&.name} #{phone.person.last_name}"%></td>                   
        </tr>              
      <%end%>  
    </tbody>
  </table>
 
</div>

<%= render "template/footer"%>
