<%= render "template/header" %>

<div class="col-lg-9">

  <div class="card mt-4">
    <%= image_tag("Aluguel-de-carro.png")%>
    <div class="card-body">
      <h3 class="card-title" style="align-text:center"><%= image_tag("liber_capital.png", size: "90x80", :style => 'padding-right: 10px', alt: "Liber Capital")%>
         Pessoas
      </h3>
      <hr>                 
    </div>
  </div>

  <table>
    <thead>
      <tr>
        <th><%=I18n.t('people.id')%></th>    
        <th><%=I18n.t('people.name')%></th>    
        <th><%=I18n.t('people.last_name')%></th>    
        <th><%=I18n.t('people.document')%></th>    
        <th><%=I18n.t('people.email')%></th>    
        <th><%=I18n.t('people.phones')%></th>            
        <th><%=I18n.t('people.birth_date')%></th>    
        <th><%=I18n.t('people.drivers_license')%></th>              
      </tr>
    </thead>

    <tbody>
      <%@people.each do |person|%>
        <tr>
          <td><%=person.id%></td>   
          <td><%=person.name%></td>   
          <td><%=person.last_name%></td>   
          <td><%=person.document%></td>   
          <td><%=person.email%></td>   
          <td><%=person.phones.pluck(:number)%></td>   
          <td><%=person.birth_date%></td>   
          <td><%=person.drivers_license&.number%></td>      
        </tr>              
      <%end%>  
    </tbody>
  </table>
 
</div>

<%= render "template/footer" %>
