<%= render "template/header" %>
     

<div class="col-lg-9">

  <div class="card mt-4">
    <%= image_tag("Aluguel-de-carro.png")%>
    <div class="card-body">
      <h3 class="card-title" style="align-text:center"><%= image_tag("liber_capital.png", size: "90x80", :style => 'padding-right: 10px', alt: "Liber Capital")%>
         Carteiras de Motorista
      </h3>
      <hr>                 
    </div>
  </div>

  <table>
    <thead>
      <tr>
        <th><%=I18n.t('drivers_licenses.id')%></th>    
        <th><%=I18n.t('drivers_licenses.number')%></th>    
        <th><%=I18n.t('drivers_licenses.modalities')%></th>    
        <th><%=I18n.t('drivers_licenses.validiy')%></th>                 
      </tr>
    </thead>

    <tbody>
      <%@drivers_license.each do |drivers_license|%>
        <tr>
          <td><%=drivers_license.id%></td>   
          <td><%=drivers_license.number%></td>   
          <td><%=drivers_license.modalities%></td>   
          <td><%=drivers_license.validiy%></td>                 
        </tr>              
      <%end%>  
    </tbody>
  </table>
 
</div>
     
<%= render "template/footer" %>