<%=render "template/header" %>

<div class="col-lg-9">

  <div class="card mt-4">
    <%= image_tag("Aluguel-de-carro.png")%>
    <div class="card-body">
      <h3 class="card-title" style="align-text:center"><%= image_tag("liber_capital.png", size: "90x80", :style => 'padding-right: 10px', alt: "Liber Capital")%>
         Locações
      </h3>
      <hr>                 
    </div>
  </div>

  <table>
    <thead>
      <tr>
        <th><%=I18n.t('locations.id')%></th>    
        <th><%=I18n.t('locations.person')%></th>    
        <th><%=I18n.t('locations.automobile')%></th>    
        <th><%=I18n.t('locations.value')%></th>    
        <th><%=I18n.t('locations.start_date')%></th>    
        <th><%=I18n.t('locations.end_date')%></th>    
        <th><%=I18n.t('locations.withdrawal_date')%></th>    
        <th><%=I18n.t('locations.return_date')%></th>    
      </tr>
    </thead>

    <tbody>
      <%@locations.each do |location|%>
        <tr>
          <td><%=location.id%></td>   
          <td><%="#{location.person&.name} #{location.person&.last_name}"%></td>   
          <td><%=location.automobile&.model%></td>   
          <td><%=location.value%></td>   
          <td><%=location.start_date&.strftime("%d/%m/%y")%></td>   
          <td><%=location.end_date&.strftime("%d/%m/%y")%></td>   
          <td><%=location.withdrawal_date&.strftime("%d/%m/%y")%></td>   
          <td><%=location.return_date&.strftime("%d/%m/%y")%></td>                  
        </tr>              
      <%end%>  
    </tbody>
  </table>
 
</div>
<%= render "template/footer"%>

